<h1>Dashboard</h1>

<h2>Level of Interest</h2>
<ul>
  <% @level_of_interest.each do |interest, count| %>
  <li>
    <%= interest %> (<%= count %>)
  </li>
  <% end %>
</ul>
<h2>3 Most Interesting Companies:</h2>
<ul>
  <% @top_three_companies_interest[0..2].each do |company, average| %>
  <li>
    <%= company %> (<%= average.to_f %>)
  </li>
  <% end %>
</ul>

<h2>Jobs in each City:</h2>
<ul>
  <% @companies_location.each do |location, count| %>
    <li>
      <%= link_to "#{location}", "#{companies_path}?location=#{location}" %> (<%= count %>)
    </li>
  <% end %>
</ul>
