All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>
<%= button_to "New Job", new_company_job_path(@company), :method=>:get %>
<h2>Contacts</h2>
<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %> - <%= contact.email %></li>
    <%= button_to "Edit Contact", edit_company_contact_path(@company, contact), :method=>:get %>
    <%= button_to "Delete Contact", company_contact_path(@company, contact), :method=>:delete %>
  <% end %>
</ul>
<%= button_to "New Contact", new_company_contact_path(@company), method: :get %>
